@charset "UTF-8";

/* Typical Defice Breakpoints

Mini Telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px

RECOMENDAÇÕES DO W3C
*/

/******************************************************/
            /*IMPRESSPORA*/
/******************************************************/
@media print{
    * {
        font-family: monospace;
    }
}












/******************************************************/
            /*CELULAR: 600PX ATÉ 768PX*/
/******************************************************/
@media screen and (min-width: 600px) and (max-width: 768px){
/**********BARRA LATERAL*********/

/**********BARRA LATERAL VERIFICADA*********/

/**********CONTEÚDO PRINCIPAL*********/

/**********CONTEÚDO PRINCIPAL VERIFICADO*********/

}



















/******************************************************/
            /*TABLET: 768PX ATÉ 992PX*/
/******************************************************/
@media screen and (min-width: 768px) and (max-width: 992px){
/**********BARRA LATERAL*********/

/**********BARRA LATERAL VERIFICADA*********/

/**********CONTEÚDO PRINCIPAL*********/

/**********CONTEÚDO PRINCIPAL VERIFICADO*********/
}



















/******************************************************/
            /*DESKTOP: 992PX ATÉ 1200PX*/
/******************************************************/
@media screen and (min-width: 992px) and (max-width: 1200px){
/**********BARRA LATERAL*********/

/**********BARRA LATERAL VERIFICADA*********/

/**********CONTEÚDO PRINCIPAL*********/

/**********CONTEÚDO PRINCIPAL VERIFICADO*********/
}





















/******************************************************/
            /*TELAS GRANDES ACIMA DE 1200PX*/
/******************************************************/
@media screen and (min-width: 1200px){
/**********BARRA LATERAL*********/

/**********BARRA LATERAL VERIFICADA*********/

/**********CONTEÚDO PRINCIPAL*********/

/**********CONTEÚDO PRINCIPAL VERIFICADO*********/
}