@charset "UTF-8";

/* Typical Defice Breakpoints

Mini Telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px

RECOMENDAÇÕES DO W3C
*/

/******************************************************/
            /*IMPRESSPORA*/
/******************************************************/
@media print{
    * {
        font-family: monospace;
    }
}







/******************************************************/
            /*CELULAR: 600PX ATÉ 768PX*/
/******************************************************/
@media screen and (min-width: 600px) and (max-width: 768px){
/**********BARRA LATERAL*********/

/**********BARRA LATERAL VERIFICADA*********/

/**********CONTEÚDO PRINCIPAL*********/

/**********CONTEÚDO PRINCIPAL VERIFICADO*********/

}



















/******************************************************/
            /*TABLET: 768PX ATÉ 992PX*/
/******************************************************/
@media screen and (min-width: 768px) and (max-height: 992px){
/**********BARRA LATERAL*********/

/**********BARRA LATERAL VERIFICADA*********/

/**********CONTEÚDO PRINCIPAL*********/

/**********CONTEÚDO PRINCIPAL VERIFICADO*********/
}



















/******************************************************/
            /*DESKTOP: 992PX ATÉ 1200PX*/
/******************************************************/
@media screen and (min-width: 992px) and (max-height: 1200px){
/**********BARRA LATERAL*********/
.sidebar a {
    font-size: 1.4em;
    line-height: 2em;
    margin-top: 20px;
}

/**********BARRA LATERAL VERIFICADA*********/
#check:checked ~ .sidebar a {
    font-size: 2em;
    padding-left: 35%;
}

/**********CONTEÚDO PRINCIPAL*********/
.content {
    font-size: 1.5em;
}
}
/**********CONTEÚDO PRINCIPAL VERIFICADO*********/






















/******************************************************/
            /*TELAS GRANDES ACIMA DE 1200PX*/
/******************************************************/
@media screen and (min-width: 1200px){
/**********BARRA LATERAL*********/
.sidebar a {
    margin-left: 5%;
    font-size: 1.6em;
}

/**********BARRA LATERAL VERIFICADA*********/
#check:checked ~ .sidebar a {
    font-size: 2.7em;
    line-height: 1.3em;
}

/**********CONTEÚDO PRINCIPAL*********/
.content {
    font-size: 2em;
}
/**********CONTEÚDO PRINCIPAL VERIFICADO*********/
}





/******************************************************/
            /*TELAS GRANDES ACIMA DE 1366PX até 768*/
/******************************************************/
@media screen and (min-width: 1366px) and (max-height: 768px){

    /**********BARRA LATERAL*********/
    .sidebar {
        width: 15%;
    }
    .sidebar a {
        margin-left: 5%;
        font-size: 1em;
        line-height: 0.9em;
    }
    
    /**********BARRA LATERAL VERIFICADA*********/
    #check:checked ~ .sidebar {
        width: 10%;
    }
    #check:checked ~ .sidebar .imagem {
        display: block;
        margin-top: -400px;
        margin-bottom: 200px;
    }

    #check:checked ~ .sidebar a {
        font-size: 2em;
        line-height: 0;
 
    }
    
    /**********CONTEÚDO PRINCIPAL*********/
    .content {
        width: 85%;
        margin-left: 15%;
        font-size: 1.1em;
        padding-top: 5%;
    }
    /**********CONTEÚDO PRINCIPAL VERIFICADO*********/
    #check:checked ~.content {
        width: 90%;
        margin-left: 10%;
    }
    }