@charset "UTF-8";

/**********CONFIGURAÇÃO GERAL**********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    overflow: hidden; /*STOP SCROLLING*/
}
/*************************************************************/
body{
    /*height: 100vh;*/
    /*background-color: #50514F;*/
    /*background-color: rgba(46, 49, 45, 0.568);*/
    text-align: left;
}
/**********BARRA DE NAVEGAÇÃO**********/
header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 6px;
    width: 100%;
    height: 50px;
}
/*************************************************************/

/**********BOTÃO MENU**********/
label.sidebar-btn {
    width: 30px;
    height: 22px;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    cursor: pointer;
    position: relative;
}
label.sidebar-btn > span {
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    border-radius: 30px;
    background-color: black;
    transition: 0.25 ease-in-out;
}
label.sidebar-btn > span:nth-child(1) {
    top: 0px;
}
label.sidebar-btn > span:nth-child(2) {
    top: 8px;
}
label.sidebar-btn > span:nth-child(3) {
    top: 16px;
}
/*************************************************************/

/**********TITULO**********/
.nome {
    position: fixed;
    margin-left: 50px;
    font-size: 24px;
    font-weight: bolder;
}
.nome h3 {
    color: black;
}
.nome span {
    color: rgb(61, 185, 92);
}
/*************************************************************/

/**********BARRA LATERAL**********/
.sidebar {
    width: 40%;
    height: 100vh;
    padding-top: 10%;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    background-color: rgba(46, 49, 45, 0.568);
    border-top-right-radius: px;
    transition: 0.5s;
    transition-property: right;
    font-size: 14px;
}
.sidebar .imagem {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 20%;
    margin-top: -50px;
    margin-bottom: 20px;
    overflow: hidden;
}
.sidebar a {
    display: block;
    color: white;
    width: 100%;
    line-height: 30px;
    padding-left: 20px;

}
.sidebar a:hover {
    background-color: rgb(61, 185, 92);
    border-radius: 14px;
}

/**********CONTEÚDO PRINCIPAL*********/
.content {
    width: 60%;
    margin-left: 40%;
    height: 100vh;
    padding: 5%;
    border: 2px solid white;
    background-color: rgba(46, 49, 45, 0.568);
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
}
/*************************************************************/

/**********FOOTER*********/
footer {
    background-color: white;
    color: black;
    text-align: center;
}
/*************************************************************/

/**********VERIFICA SE O MENU FOI CLICADO E ALTERAR O HAMBUGUER**********/
#check {
    display: none;
}
#check:checked ~ header label span:nth-child(1){
    background-color: rgb(61, 185, 92);
    transform: rotate(-45deg);
    top: 8px;
}
#check:checked ~ header label span:nth-child(2){
    background-color: rgb(61, 185, 92);
    opacity: 0;
}
#check:checked ~ header label span:nth-child(3){
    background-color: rgb(61, 185, 92);
    transform: rotate(45deg);
    top: 8px;
}
/*************************************************************/
/**********VERIFICA SE O MENU FOI CLICADO E ARRASTA A BARRA LATERAL*********/

#check:checked ~ .sidebar {
    width: 14%;
}
#check:checked ~ .sidebar a {
    font-size: 22px;
    padding-left: 40%;
}
#check:checked ~ .sidebar a span {
    display: none;
}
#check:checked ~ .sidebar .imagem {
    display: none;
}
#check:checked ~ .sidebar h2 {
    display: none;
}
/*************************************************************/

/**********CONTEÚDO PRINCIPAL*********/
#check:checked ~.content {
        width: 86%;
        height: 100vh;
        margin-left: 14%;

    }
/*************************************************************/