@charset "UTF-8";

/**********CONFIGURAÇÃO GERAL**********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    
    /*overflow: hidden; /*STOP SCROLLING*/
}
body {
    background-color: rgba(46, 49, 45);
}
/**********BARRA DE NAVEGAÇÃO**********/
header {
    width: 100%;
    height: 5vh;
    display: flex;
    position: fixed;
    justify-content: flex-start;
    background-color: white;
}
/*************************************************************/

/**********BOTÃO MENU**********/
label.sidebar-btn {
    width: 30px;
    height: 22px;
    margin: 10px;
    display: block;
    cursor: pointer;
    position: relative;
}
label.sidebar-btn > span {
    width: 100%;
    height: 5px;
    display: block;
    position: absolute;
    border-radius: 30px;
    background-color: black;
    transition: 0.25 ease-in-out;
}
label.sidebar-btn > span:nth-child(1) {
    top: 0px;
}
label.sidebar-btn > span:nth-child(2) {
    top: 8px;
}
label.sidebar-btn > span:nth-child(3) {
    top: 16px;
}
/*************************************************************/

/**********TITULO**********/
.nome {
    margin-top: 1px;
    font-size: 22px;
    font-weight: bolder;
}
.nome h3 {
    color: black;
}
.nome span {
    color: rgb(61, 185, 92);
}
/*************************************************************/

/**********BARRA LATERAL**********/
.sidebar {
    position: fixed;
    width: 45%;
    height: 100vh;
    margin-top: 5.1vh;
    background-color: rgba(46, 49, 45);
    border-right: 4px rgba(125, 156, 124, 0.63) solid;


}
.sidebar .imagem {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 15%;
    overflow: hidden;
}
.sidebar a {
    display: block;
    color: white;
    padding-left: 20px;
    font-size: 1em;
    line-height: 2.5em;
}
.sidebar a:hover {
    background-color: rgb(61, 185, 92);
    border-radius: 50px;
    line-height: 1.5em;
}

/**********CONTEÚDO PRINCIPAL*********/
.content {
    width: 55%;
    height: 100vh;
    margin-top: 0px;
    margin-left: 45%;
    padding: 5%;
    padding-top: 10%;
    background-color: rgba(46, 49, 45);
    text-indent: 30px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
}
/*************************************************************/

/**********FOOTER*********/
footer {
    background-color: white;
    color: black;
    text-align: center;
}
/*************************************************************/

/**********VERIFICA SE O MENU FOI CLICADO E ALTERAR O HAMBUGUER**********/
#check {
    display: none;
}
#check:checked ~ header label span:nth-child(1){
    background-color: rgb(61, 185, 92);
    transform: rotate(-45deg);
    top: 8px;
}
#check:checked ~ header label span:nth-child(2){
    background-color: rgb(61, 185, 92);
    opacity: 0;
}
#check:checked ~ header label span:nth-child(3){
    background-color: rgb(61, 185, 92);
    transform: rotate(45deg);
    top: 8px;
}
/*************************************************************/
/**********VERIFICA SE O MENU FOI CLICADO E ARRASTA A BARRA LATERAL*********/

#check:checked ~ .sidebar {
    width: 15%;
    padding-top: 10%;
}
#check:checked ~ .sidebar a {
    font-size: 22px;
    padding-left: 35%;
}
#check:checked ~ .sidebar a span {
    display: none;
}
#check:checked ~ .sidebar .imagem {
    display: none;
}
#check:checked ~ .sidebar h2 {
    display: none;
}
/*************************************************************/

/**********CONTEÚDO PRINCIPAL*********/
#check:checked ~.content {
        width: 85%;
        height: 100vh;
        margin-left: 15%;

    }
/*************************************************************/