@charset "UTF8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    list-style: none;
}

html, body {
    height: 100%;
    background-color: black

}

.nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 6%;
    align-items: center;
    justify-content: left;
    gap: 5px;
    background-color: white;

}
h1 {
    color: black;


}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    display: block;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 22px;
    margin-left: 5px;

}
label > span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: black;
    transition: 0.25 ease-in-out;
}
label > span:nth-child(1) {
    top: 0px;
}
label > span:nth-child(2) {
    top: 8px;
}
label > span:nth-child(3) {
    top: 16px;
}
#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}
#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;

}
#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}


div.item-menu {
    margin-left: 0px;
    padding: 10px;
    width: 33%;
}

a:hover {
    background-color: rgba(151, 40, 182, 0.25);
    border-radius: 5px;
    transition: 0.5 ease-in;

}

ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 39px;
    left: 0px;
    padding: 0 40px;
    transition: all 0.5s;

}

#checkbox-menu:checked::before{
    display: none;
    
}



footer {
    margin-top: 100vh;
    background-color: white;
    color: black;
    text-align: center;

}