@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: white;
    overflow: hidden; /*STOP SCROLLING*/
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 1, 22);
    padding: 10px;
    width: 100%;
    height: 60px;
    

}

.left {
    position: fixed;
    margin-left: 35px;

}

.left h3 {
    margin-top: 3px;
    padding: 0px;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bolder;
}

.left span {
    color: rgb(61, 185, 92);
}
.right{
    padding: 3px;
    margin-top: 7px;
}

.sair-btn {
    padding: 4px;
    background-color:rgb(61, 185, 92);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    transition: 0.5s;

}
.sair-btn:hover{
    background-color: rgba(0, 225, 255, 0.589);
}

.sidebar {
    position: absolute;
    width: 180px;
    height: 100%;
    /*background-color: rgb(12, 1, 22);*/
    background-color: rgba(46, 49, 45, 0.568);
    border-radius: 8px;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .imagem {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 40px;
    margin-top: 5px;
    overflow: hidden;

}

.sidebar h2 {
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.sidebar a{
    display: block;
    color: white;
    width: 100%;
    line-height: 30px;
    padding-left: 20px;

}

.sidebar a:hover {
    background-color: rgb(61, 185, 92);
    border-radius: 14px;
}

label #sidebar-btn {
    z-index: 1;
    display: block;
    margin-left: -6px;
    margin-right: 4px;
    height: 40px;
    width: 40px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
label #sidebar-btn:hover {
    color: rgb(61, 185, 92);
}

#check {
    display: none;
}
#check:checked ~ .sidebar {
    left: -140px;
}

#check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 130px;
    width: 50px;
}

#check:checked ~ .sidebar a span {
    display: none;
}

.content {
    height: 100vh;
    overflow: hidden;
}